
<svg class="bi bi-arrow-left-square-fill mt-1" [routerLink]="'/news'" width="3em" id="back" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
</svg>
<div *ngIf="news$ | async as news; else loading">
  <div class="container-fluid">
    <div class="row justify-content-center ">
      <div class=" col-10  card mt-4">

        <div class="header justify-content-center ">
          <h1 class="mt-2 mb-2">{{ news.title }}</h1>
        </div>
        <hr>
        <div class="info">
          <small class="float-right">{{ news.date | date:'medium':null:'ru' }}</small>
        </div>
        <div id="quill-text">
          <quill-view-html [content]="news.text"></quill-view-html>
        </div>

      </div>
    </div>
    <div class="mt-3 row justify-content-center" id="ph">
      <div class="col-auto">

        <img class="img-fluid " src="https://grozny-inform.ru/LoadedImages/2019/08/19/Segodnya_otmechaetsya_.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <h2 class="text-center">Загрузка</h2>
</ng-template>
