
.navbar-nav li {
  padding-right: 15px;

}

.textDec {
  text-transform: none;
  font-size: large;
}

.window {
  width: 380px;
  background: #fff;
  z-index: 150;
  margin-top: 180px;
}

.all {
  position: absolute;

}

.gray {
  background-color: rgba(0, 0, 0, 0.60);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;

}

